<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <style>
        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-image: linear-gradient(to right, #007BFF, #FF4B1F);
            height: 100vh;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.95);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 4, 255, 0.2);
            text-align: center;
        }

        .container h2 {
            color: #ff4b1f;
            font-size: 2rem;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        input[type="text"],
        input[type="password"],
        input[type="email"] {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            border: none;
            border-bottom: 2px solid #3498db;
            background-color: rgba(255, 255, 255, 0.9);
            font-size: 1rem;
            transition: border-color 0.3s;
            border-radius: 5px;
        }

        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="email"]:focus {
            border-color: #ff4b1f;
        }

        button[type="submit"] {
            width: 100%;
            padding: 14px;
            background-color: #ff4b1f;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button[type="submit"]:hover {
            background-color: #ff6e40;
        }

        .error {
            color: red;
            font-size: 1rem;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Sign up</h2>
        <form id="signupForm" method="post" action="/signup">
            <input type="text" name="Fullname" placeholder="Username" required>
            <input type="email" name="Email" placeholder="E-mail" required>
            <input type="password" name="password" placeholder="Password" required>
            <p><%=data1%></p>
            <button type="submit">Submit</button>
            <div class="error" id="error"></div>
        </form>
    </div>
</body>
</html>
